<!DOCTYPE html>
<html>
  <head>
    <title>IonatecPet</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'vendor'%>
    <%= javascript_include_tag 'app'%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
